.margin{
	margin:20px;
	padding: 0 30px 30px;
	border:1px solid black;
}
.margin>p{
	margin:5px -20px;
	text-align:left;
}
.border{
	border:15px solid blue;
	background-color:blue;
}
.padding{
	background-color:aqua;
	padding:0 30px 30px 30px;
	margin:20px;
}
.end{
display:flex;
	flex flow:row wrap;
	gap:106px;
 }
.content {
	border:1px solid black;
	padding:10px;
	background-colo:aqua;
}
.dot{
	border-style:dotted;
}
